<!DOCTYPE html>
<html lang="de" prefix="og: https://ogp.me/ns#">
    <head>
        {% include "partials/head.njk" %}
    </head>
    <body>
        <a class="skip-link" href="#main">Zum Inhalt</a>
        <div class="wrapper flex flex-col min-h-screen font-sans bg-red-400">
            {% include "partials/header.njk" %}
            <main id="main" class="flex-1 px-4 mt-3">
                {{ content | safe }}
            </main>

            {% include "partials/footer.njk" %}
        </div>
        <script src="/dist/js/main.js" type="module"></script>
    </body>
</html>
